{% extends "base.html" %}
{% load static %}

{% block head_title %}Day - The Heart of Ruritania{% endblock %}

{% block main %}
<section class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{ date|date:"l j F" }} - Admin View</h1>
            {% for service in services %}
            <h2>{{ service.name }}</h2>
                {% if service.reservations %}<table class="table table-striped">
                    <thead><th>Time</th><th>Guests</th><th>Customer</th><th>Delete</th></thead>{% for res in service.reservations %}
                    <tr>{% spaceless %}
                        <td>{{ res.time | date:"H:i" }}</td>
                        <td>{{ res.guest_count }}</td>
                        <td>{{ res.customer }}</td>
                        <td><button class="btn btn-danger" data-action="{% url 'delete_reservation' res.id %}">Delete</button></td>{% endspaceless %}
                    </tr>{% endfor %}
                </table>{% else %}
                <p>No reservations</p>{% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{# Delete confirmation modal #}
{# Ideally this would be a <dialog> but bootstrap styles them badly #}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-3" id="deleteModalLabel">Delete reservation?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this reservation?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post">
                    {% csrf_token %}
                    <button id="deleteConfirm" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static 'js/admin_day.js' %}"></script>
{% endblock %}
