{% extends "base.html" %}
{% load static %}

{% block head_title %}Opening Hours - The Heart of Ruritania{% endblock %}

{% block main %}
<section class="container">
    <div class="row">
        <div class="col-12">

            <h1>Opening Hours</h1>

            <table id="hours_table">{% for day in days %}
                <tr>
                    <td>{{ day.date }}</td>{% for range in day.ranges %}
                    <td{% if day.ranges|length == 1 %} colspan="2"{% endif %}>{{ range }}</td>{% endfor %}
                </tr>{% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock %}
