{% extends "base.html" %}
{% load static %}

{% block head_title %}Reservations - The Heart of Ruritania{% endblock %}

{% block main %}
<section id="reservations" class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            {% if admin_view %}
            <h1>Reservations - Admin View</h1>
            <p>Choose a date to see an overview of reservations</p>
            {% else %}
            <h1>Reservations</h1>
            <p>Choose a date <span class="day-book">to make a new reservation</span> or <span class="day-edit">to edit an existing reservation</span></p>
            {% endif %}
            {% for month in months %}<table class="mx-auto mx-sm-0">
                <tr class="cal_month">
                    <td colspan="7">{{ month.name }}</td>
                </tr>
                <tr class="cal_dow">
                    <td>Mon</td>
                    <td>Tue</td>
                    <td>Wed</td>
                    <td>Thu</td>
                    <td>Fri</td>
                    <td>Sat</td>
                    <td>Sun</td>
                    {% for day in month.days %}
                    {% if forloop.counter0|divisibleby:7 %}</tr><tr>{% endif %}
                    {% spaceless %}
                    <td>
                        {% if day.open and day.date.month == month.date.month %}
                            <a href="{% url day_url_name day.date.year day.date.month day.date.day %}">
                        {% endif %}
                        <div class="{% if day.off %}day-hide{% elif day.edit %}day-edit{% elif not day.open %}day-shut{% else %}day-book{% endif %}">{{ day.date.day }}</div>
                        {% if day.open and day.date.month == month.date.month %}
                            </a>
                        {% endif %}
                    </td>
                    {% endspaceless %}
                    {% endfor %}
                </tr>
                </table>
                {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
