{% extends "base.html" %}
{% load static %}

{% block head_title %}Reservations - The Heart of Ruritania{% endblock %}

{% block main %}
<section id="reservations" class="container">
    <div class="row">
        <div class="col-12">
            <h1>Reservations</h1>
            <p>Choose a date to make <span class="day_book">a new reservation</span> or to edit <span class="day_edit">an existing reservation</span></p>
            {% for month in months %}<table>
                <tr class="cal_month">
                    <td colspan="7">{{ month.name }}</td>
                </tr>
                <tr class="cal_dow">
                    <td>Mon</td>
                    <td>Tue</td>
                    <td>Wed</td>
                    <td>Thu</td>
                    <td>Fri</td>
                    <td>Sat</td>
                    <td>Sun</td>
                    {% for day in month.days %}
                    {% if forloop.counter0|divisibleby:7 %}</tr><tr>{% endif %}
                    {% spaceless %}
                    <td>
                        {% if day.open and day.date.month == month.date.month %}
                            <a href="{% url 'reservation_times' day.date.year day.date.month day.date.day %}">
                        {% endif %}
                        <div class="{% if day.off %}day_hide{% elif day.edit %}day_edit{% elif not day.open %}day_shut{% else %}day_book{% endif %}">{{ day.date.day }}</div>
                        {% if day.open %}
                            </a>
                        {% endif %}
                    </td>
                    {% endspaceless %}
                    {% endfor %}
                </tr>
                </table>
                {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
