{% extends "base.html" %}
{% load static %}

{% block head_title %}Reservation - The Heart of Ruritania{% endblock %}

{% block main %}
<section class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{ date|date:"l j F" }}{% if slot %} {{ slot.as_time|date:"H:i" }}{% endif %}</h1>
        </div>
        {% if editing %}
        <div class="col-12">
            <h2>Delete Reservation</h2>
            <p><button id="deleteReservation" class="btn btn-danger">Delete Reservation</button></p>
        </div>
        {% endif %}
        <div class="col-12">
            <h2>{% if editing %}Edit Reservation{% else %}Make a Reservation{% endif %}</h2>
            <form method="post">
                {# This disabled button prevents Enter submitting the form #}
                <input type="submit" disabled class="d-none" aria-hidden="true">
                <ol>
                <li><label for="guest_count">{% if editing %}Check{% else %}Enter{% endif %} the number of guests:</label>
                <input id="guest_count" type="number" name="guest_count" min="1" value="{% if guest_count != 0 %}{{ guest_count }}{% endif %}" /></li>
                <li>Select a time to confirm:</li>
                </ol>
            {% for service in services %}
            <h3>{{ service.name }}</h3>
                {% csrf_token %}
                <table>{% for slot in service.slots %}{% if forloop.counter0|divisibleby:4 %}
                    <tr>{% endif %}
                        <td>{% spaceless %}
                            <div data-max="{{ slot.max }}" class="{% if slot.edit %}slot-edit{% elif slot.open %}slot-open{% else %}slot-closed{% endif %}">
                            {% if slot.open %}<button disabled formaction="{% url 'reserve' date.year date.month date.day slot.slot.long_hour slot.slot.minute %}">{% endif %}
                                <span>{{ slot.name }}</span>
                            {% if slot.open %}</button>{% endif %} ({{ slot.max }})
                            </div>
                        </td>{% endspaceless %}
                    {% if forloop.counter|divisibleby:4 %}</tr>{% endif %}{% endfor %}
                </table>
            {% endfor %}
            </form>
        </div>
    </div>
</section>

{# Delete confirmation modal #}
{% if editing %}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="deleteModalLabel">Delete reservation?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your reservation?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post" action="{% url 'delete_reservation' id %}">
                    {% csrf_token %}
                    <button id="deleteConfirm" href="#" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_body %}
<script src="{% static 'js/reservation_times.js' %}"></script>
{% endblock %}
