@import url("https://fonts.bunny.net/css?family=modern-antiqua:400|pt-serif:400,700");

:root {
    --primary-font: "PT Serif", sans-serif;
    --secondary-font: "PT Serif", sans-serif;
    /* --secondary-font: "Modern Antiqua", serif; */
    --primary-colour: #3a2620; /* dark brown */
    --secondary-colour: #aa9581; /* light brown */
    --highlight-colour: #416a8e; /* blue */
    --highlight-colour-light: #7a9fc2; /* light blue */
    --bookable-colour: rgb(207, 237, 247);
    --booked-colour: rgb(170, 247, 170);
}

body {
    font-family: var(--primary-font);
}

body,
nav {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256%22%20height%3D%22256%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22msvg-texture%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22100%25%22%20height%3D%22100%25%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.9%22%20numOctaves%3D%223%22%20seed%3D%221234%22%20stitchTiles%3D%22stitch%22%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220.2126%200.7152%200.0722%200%200%200.2126%200.7152%200.0722%200%200%200.2126%200.7152%200.0722%200%200%200%200%200%200%201%22%20result%3D%22lum%22%2F%3E%3CfeComponentTransfer%20result%3D%22shaped%22%3E%3CfeFuncR%20type%3D%22linear%22%20slope%3D%220.6800%22%20intercept%3D%220.3760%22%2F%3E%3CfeFuncG%20type%3D%22linear%22%20slope%3D%220.6800%22%20intercept%3D%220.3760%22%2F%3E%3CfeFuncB%20type%3D%22linear%22%20slope%3D%220.6800%22%20intercept%3D%220.3760%22%2F%3E%3C%2FfeComponentTransfer%3E%3CfeComponentTransfer%20in%3D%22shaped%22%3E%3CfeFuncR%20type%3D%22table%22%20tableValues%3D%220.0000%200.8980%22%2F%3E%3CfeFuncG%20type%3D%22table%22%20tableValues%3D%220.0000%200.8745%22%2F%3E%3CfeFuncB%20type%3D%22table%22%20tableValues%3D%220.0000%200.5294%22%2F%3E%3C%2FfeComponentTransfer%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20filter%3D%22url(%23msvg-texture)%22%2F%3E%3C%2Fsvg%3E") fixed;
    background-size: 256px 256px;
    background-repeat: repeat;
}

h1 {
    font-family: var(--secondary-font);
    font-weight: bold;
    padding-top: 33px;
    padding-bottom: 15px;
}

h2 {
    font-family: var(--secondary-font);
    font-weight: bold;
}

/* Base template */

.navbar-brand {
    font-size: inherit;
    font-weight: bold;
}

#messages {
    margin-top: 66px;
}

main {
    margin-bottom: 33px;
}

.social-links a {
    color: black;
}

/* Home page */

#hero {
    position: relative;
    min-height: 70vh;
    overflow: hidden;
    background-image: url('/static/images/kohlwurst.webp');
    background-size: cover;
    background-position: 60% 65%;
}

/* Menu */

#restaurant_menu li {
    padding: .15em 0em;
}

.menu-price {
    font-size: smaller;
}

.menu-disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

.menu-arrow {
    padding-left: .5em;
    padding-right: .5em;
}

/* Opening hours */

#hours_table tr+tr {
    border-top-width: 1px;
}

#hours_table td {
    text-align: center;
    padding: .2em .5em;
}

#hours_table td:first-child {
    text-align: right;
    font-weight: bold;
}

/* Reservations */

#reservations table {
    margin-top: 1em;
}

#reservations td {
    text-align: center;
}

#reservations td div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5em;
    min-height: 2.5em;
}

#reservations td a {
    text-decoration: none;
    color: black;
}

#reservations .cal_month {
    font-weight: bold;
}

#reservations .cal_dow td {
    padding: 0 .2em;
}

.day-book {
    background-color: var(--bookable-colour);
}

td .day-book:hover {
    background: rgb(170, 193, 201)
}

.day-hide {
    visibility: hidden;
}

.day-shut {
    color: grey;
}

.day-edit {
    background-color: var(--booked-colour);
}

td .day-edit:hover {
    background: rgba(138, 202, 138, 0.705);
}

/* Slots */

#slot-table {
    border-collapse: separate;
    border-spacing: 3px;
}

#slot-table div {
    min-width: 4em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slot-table button {
    border: none;
    padding: 0;
    background: none;
}

#slot-table button:not([disabled]):hover {
    background: rgba(0, 0, 0, 0.1);
}

.slot-edit {
    background-color: var(--booked-colour);
}

.slot-edit button {
    background-color: var(--booked-colour);
}

.slot-closed {
    visibility: hidden;
}

.slot-open {
    background-color: var(--bookable-colour);
}

/* The very smallest screens */
@media screen and (max-width: 395px) {
    #hours_table {
        font-size: 15px;
    }
}

/* Everything but the tiniest screens */
@media screen and (min-width: 396px) {
}

/* Medium devices, tablets and up */
@media screen and (min-width: 768px) {
    html {
        font-size: 110%;
    }
}

/* Large devices, small laptops and up */
@media screen and (min-width: 992px) {
    html {
        font-size: 130%;
    }
}
