{% extends "base.html" %}
{% load static %}

{% block head_title %}Contact - The Heart of Ruritania{% endblock %}

{% block main %}
<section class="container">
    <div class="row">
        <div class="col-12">
            <h1>Contact</h1>
            <table>
                <tr>
                    <td>Phone</td><td>0121 496 0461</td>
                </tr>
                <tr>
                    <td>Mobile</td><td>07700 900461</td>
                </tr>
                <tr>
                    <td>Email</td><td>contact@ruritania.example.com</td>
                </tr>
                <tr>
                    <td>Address</td><td>12 Wurst Plaza,<br>Small Oak,<br>Birmingham.<br>B89 5QX</td>
                </tr>
            </table>
        </div>
    </div>
</section>
{% endblock %}
