{% extends "base.html" %}
{% load static %}

{% block content %}

{# index.html content starts here #}
<section id="overview" class="container">
    <div class="row">
        <div class="col-12">

            <h1>Opening Hours</h1>

            <table>{% for day in days %}
                <tr>
                    <td>{{ day.date }}</td>{% for range in day.ranges %}
                    <td>{{ range }}</td>{% endfor %}
                </tr>{% endfor %}
            </table>
        </div>
    </div>
</section>
{# index.html content ends here #}
{% endblock %}
