{% extends "base.html" %}
{% load static %}

{% block head_title %}Make a Reservation - The Heart of Ruritania{% endblock %}

{% block main %}
<section id="overview" class="container">
    <div class="row">
        <div class="col-12">
            <h1>Make a Reservation</h1>
            <h2>{{ date }}</h2>
            <p>Click on a time to make a reservation.</p>
            {% for service in services %}
            <h3>{{ service.name }}</h3>
            <form method="post">
                {% csrf_token %}
                <table>
                    {% for slot in service.slots %}
                    {% if forloop.counter0|divisibleby:4 %}<tr>{% endif %}
                        {% spaceless %}
                        <td class="{% if slot.open %}slot_open{% else %}slot_closed{% endif %}">
                            {% if slot.open %}<button formaction="{% url 'reserve' date.year date.month date.day slot.time.hour slot.time.minute %}">{% endif %}
                                <div>{{ slot.name }}</div>
                            {% if slot.open %}</button>{% endif %}
                        </td>
                        {% endspaceless %}
                        {% if forloop.counter|divisibleby:4 %}
                    </tr>{% endif %}
                    {% endfor %}
                </table>
            </form>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
