{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Add Dish - The Heart of Ruritania{% endblock %}

{% block main %}

<section class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div>
                <h1>Add a Dish</h1>
                    <h2>{{ course.name }}</h2>
                    <form id="dishForm" method="post">
                        {{ dish_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
