{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Arrange Dishes - The Heart of Ruritania{% endblock %}

{% block main %}

<div class="container" id="arrange-dishes">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <h1>Arrange Dishes</h1>
                <h2>{{ course.name }}</h2>
                <form method="post">
                    <table id="toggle-table" class="my-4">
                        {% for dish in course.dishes.all %}
                        <tr{% if not dish.active %} class="menu-disabled"{% endif %}>
                            <td class="d-flex">
                                <button class="menu-arrange-up menu-arrow btn btn-secondary" disabled><i class="fas fa-arrow-up"></i></button>
                                <span>&nbsp;</span>
                                <button class="menu-arrange-down menu-arrow btn btn-secondary" disabled><i class="fas fa-arrow-down"></i></button>
                                <span>&nbsp;</span>
                            </td>
                            <td>
                                <input type="hidden" name="dish_{{ dish.id}}" value="{{ dish.order }}">
                                <strong>{{ dish.name }}</strong> &ndash; {{ dish.description }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static 'js/arrange_dishes.js' %}"></script>
{% endblock %}
