{% extends "base.html" %}
{% load static %}

{% block head_title %}Menu - The Heart of Ruritania{% endblock %}

{% block main %}
<section id="restaurant_menu" class="container">
    <div class="row">
        <div class="col-12">
            {% if user.is_staff %}
            <h1>Menu &ndash; Admin View</h1>{% for course in courses %}
            <hr>
            <h2>{{ course.name }}</h2>
            <p><a href="{% url 'add_dish' course.id %}"><button class="btn btn-secondary">Add dish</button></a>
            <ul>{% for dish in course.dishes.all %}
                <li{%if not dish.active %} class="menu-disabled"{% endif %}><a href="{% url 'edit_dish' dish.id %}"><strong>{{ dish.name }}</strong></a> &ndash; {{ dish.description }}</li>{% endfor %}
            </ul>{% endfor %}
            {% else %}
            <h1>Menu</h1>{% for course in courses %}{%if course.active %}
            <hr>
            <h2>{{ course.name }}</h2>
            <ul>{% for dish in course.dishes.all %}{% if dish.active %}
                <li><strong>{{ dish.name }}</strong> &ndash; {{ dish.description }}</li>{% endif %}{% endfor %}
            </ul>{% endif %}{% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
