{% extends "base.html" %}
{% load static %}
{% load menu %}

{% block head_title %}Menu - The Heart of Ruritania{% endblock %}

{% block main %}
<section id="restaurant_menu" class="container">
    <div class="row">
        <div class="col-12">
            <h1>Menu</h1>{% for course in courses %}
            <hr>
            <h2>{{ course.name }}</h2>
            <ul>{% for dish in course.dishes.all %}{% if dish.active %}
                <li><strong>{{ dish.name }}</strong> &ndash; {{ dish.description }}
                <span class="menu-price">(£{{ dish.price | price }})</span></li>{% endif %}{% endfor %}
            </ul>{% endfor %}
        </div>
    </div>
</section>
{% endblock %}
