{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Toggle Dishes - The Heart of Ruritania{% endblock %}

{% block main %}

<div class="container" id="toggle-dishes">
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <h1>Toggle Dishes</h1>
                <h2>{{ course.name }}</h2>
                <form method="post" class="my-4">
                    {% for dish in course.dishes.all %}
                        {# In the POST data these hidden controls identify which dishes were present on the form. #}
                        {# The checkboxes are only included in the POST data if they are checked. #}
                        <input type="hidden" name="dish_{{ dish.id}}">
                        <div class="form-check my-2">
                            <input class="form-check-input" type="checkbox" id="active_{{ dish.id}}" name="active_{{ dish.id}}"{% if dish.active %} checked{% endif %}>
                            <label class="form-check-label" for="active_{{ dish.id}}"><strong>{{ dish.name }}</strong> &ndash; {{ dish.description }}</label>
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-primary btn-lg mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
